// .container-full{
//   width: 100%;
//   padding-left: 1.5rem;
//   padding-right: 1.5rem;
//   margin-left: auto;
//   margin-right: auto;
// }

// .container{
//   width: 100%;
//   padding-left: 1.5rem;
//   padding-right: 1.5rem;
//   margin-left: auto;
//   margin-right: auto;

//   @include breakpoint-above(sm){
//     max-width: $container-width-sm;
//   }
//   @include breakpoint-above(md){
//     max-width: $container-width-md;
//   }
//   @include breakpoint-above(lg){
//     max-width: $container-width-lg;
//   }
//   @include breakpoint-above(xl){
//     max-width: $container-width-xl;
//   }
// }

// .row {
//   display: flex;
//   margin-right: -1.5rem;
//   margin-left: -1.5rem;
// }

// .col {
//   position: relative;
//   width: 100%;
//   padding-right: 1.5rem;
//   padding-left: 1.5rem;
// }

// .no-gutters {
//   margin-right: 0;
//   margin-left: 0;

//   >.col {
//     padding-right: 0;
//     padding-left: 0;
//   }
// }

.container{
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @include breakpoint-below(lg) {
    grid-template-rows:  6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  @include breakpoint-below(md) {
    grid-template-rows:  6rem calc(100vh - 6rem);
  }
}