@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&display=swap');

body{
  font-family: $font-primary;
  font-weight: 300;
  color: $tertiary-colour-dark;
  line-height: 1.6;
}

%headings{
  font-family: $font-display;
  font-weight: 400;
}

h1{
  @extend %headings;
}
h2{
  @extend %headings;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

    &--light{
      color: $tertiary-colour;
    }

    &--dark{
      color: $tertiary-colour-dark;
    }
}
h3{
  @extend %headings;
  font-size: 1.6rem;
  color: $primary-colour;
  text-transform: uppercase;
}
h4{
  @extend %headings;
  font-size: 1.9rem;

  &--light{
    color: $tertiary-colour;
  }

  &--dark{
    color: $tertiary-colour-dark;
  }
}

.btn{
  background-color: $primary-colour;
  color: $white;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover{
    background-color: $primary-colour-dark;
  }
}